.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 4px;
    padding-left: 7px;
}

.social-item .social-link {
    color: var(--light-gray-70);
    font-size: 20px;
}


.social-item .social-link:hover {
    color: var(--light-gray);
}

@media (min-width: 1250px) {


    .social-list {
        justify-content: center;
    }
}